<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dish Detail</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    </head>

    <body>
        <div class = "card" id = "my-node" style="padding-bottom: 30px;">
            <img class="dish_pic" src = {{dish.img}} />
            <div class = "text">
                <span class="type">Type of Dish</span>
                <h3>{{dish.title}}</h3>
                <h4>{{dish.restaurant_name}}</h4>
                <div class="text_body">
                    <p>{{dish.description}}</p>
                    <p>{{dish.other_text}}</p>
                </div>
                <p style="font-weight: bold;">Contains:</p>
                <img src="{% static 'polls/img/30.png' %}" />
                <img src="{% static 'polls/img/30.png' %}" />
                <img src="{% static 'polls/img/30.png' %}" />

                <p class="price">${{dish.price}}</p>
            </div>
        </div>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        <form action="{% url 'polls:vote' dish.id %}" method="post">
            {% csrf_token %}
                <input type="hidden" name="dish" id="dish{{ dish.id }}" value="{{ dish.id }}">
                <label for="dish{{ dish.id }}">Vote for {{ dish.title }}</label><br>
            <input type="submit" value="Vote">
        </form>
        
        <button id="image_button">Save This Dish</button>

        <!-- from; https://github.com/tsayen/dom-to-image#usage -->
        <script src="{% static 'polls/bower_components/dom-to-image/src/dom-to-image.js' %}"></script>
        <script src="{% static 'polls/bower_components/file-saver/dist/FileSaver.js'%}"></script>
        <script>
            document.getElementById("image_button").addEventListener("click", function(){
                var node = document.getElementById('my-node');
                
                domtoimage.toBlob(node, {bgcolor: 'white'})
                    .then(function (blob) {
                        window.saveAs(blob, 'my-dish.png')
                    });
            })
        </script>
    </body>
</html>

